.mason {
  position: relative;
  overflow: hidden;
  height: 649.124px;
  transition: height 450ms;
  display: block;
  margin-left: -0.5em;
  margin-right: -0.5em;
  > img {
    position: relative;
    display: block;
    width: 100%;
  }
}