.personal-info {
  list-style: none;
  margin: 0;
  padding: 0;
  > li {
    padding: 5px 0;
    .info-title {
      color: #f3f3f3;
      display: inline-block;
      font-family: 'Oxygen', Helvetica, sans-serif;
      font-weight: 700;
      margin-right: 12px;
      border-bottom: 2px solid #00FF96;
    }
    .info-data {
      font-family: 'PT Sans', Helvetica, sans-serif;
      min-width: 250px;
      color: #eee;
    }
  }
}

.my-photo-block {
  position: relative;
}

ul.social-buttons {
  display: block;
  list-style: none;
  margin: 25px 0 5px;
  padding: 0;
  text-align: left;
  > li {
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #f3f3f3;
    > a {
      display: inline-block;
      margin: 0 1px;
      width: 34px;
      height: 34px;
      color: #f3f3f3;
      background-color: transparent;
      //border: 1px solid #555;
      text-align: center;
      &:hover {
        color: #00FF96;
      }
    }
  }

}