.home-container {
  position: relative;
  width: 100%;
  height: 100vh;
  /* padding: 0; */
  //padding: 25px 5%;
  background-color: transparent;
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  .sub-page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1240px;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    .table {
      display: table;
      table-layout: fixed;
      width: 100%;
      min-height: 100%;
      height: 100%;
      overflow: hidden;
      margin: 0;
      > div {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
      }
    }
  }
  .home-title {
    margin: 0;
    color: darken(#00FF96, 15%);
    font-size: 5.9vw;
    @media (max-width: 772px) {
      font-size: 12vw;
    }
  }
  .home-sub-title {
    margin: 10px;
    color: #333;
    font-size: 3vmin;
    @media (max-width: 772px) {
      font-size: 5vmin;
    }
  }
}

.Typist .Cursor {
  display: inline-block;
  color: darken(#00FF96,10%);
  font-size: 3.5vh;
}
.Typist .Cursor--blinking {
  opacity: 1;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}