.app-wrapper {
  display: block;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url("./images/polygon-background.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-container {
  width: 100%;
  transform: translate(0,0);
  position: relative;
  @media(min-width: 992px) {
    &.full {
      width: calc(100% - .75em);
      transform: translate(.75em, 0);
    }
    width: calc(100% - 150px);
    transform: translate(150px, 0);
  }
}

.page-container {
  position: relative;
  width: 100%;
  height: 100%;
  /* padding: 0; */
  padding: 25px 5%;
  background-color: transparent;
  /* background-attachment: fixed; */
  /* background-position: 50%; */
  /* background-size: cover; */
  -webkit-background-size: cover;
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  .sub-page {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 1240px;
    -webkit-perspective: 1500px;
    -moz-perspective: 1500px;
    perspective: 1500px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    .card-page {
      background-color: #222;
      visibility: visible;
      z-index: 90;
      opacity: 1;
      overflow: hidden;
      height: 100%;
      min-height: 100%;
      .inner-container {
        position: relative;
        padding: 20px 60px 50px;
        .border-block {
          display: inline-block;
          position: absolute;
          background: transparent;
          width: 110px;
          height: 110px;
          border-top: 3px solid #00FF96;
          border-left: 3px solid #00FF96;
          left: 20px;
          top: 10px;
          z-index: 0;
        }
        .block-title {
          > h3 {
            display: inline-block;
            position: relative;
            margin: 0 0 20px;
            padding: 0;
            font-family: 'Oxygen', Helvetica, sans-serif;
            font-weight: 700;
            line-height: 1.5em;
            font-size: 1.40em;
            color: #f3f3f3;
            &:after {
              content: '';
              display: block;
              position: absolute;
              width: 2px;
              height: 100%;
              left: -10px;
              bottom: 0;
              background-color: #00FF96;
            }
          }
        }
        .card-title-section {
          position: relative;
          margin-bottom: 40px;
          text-align: center;
          .card-title-wrap {
            display: inline-block;
            position: relative;
            text-align: right;
            > h1 {
              color: #555;
            }
            .title {
              display: block;
              width: 100%;
              position: relative;
              margin: 12px 0 0;
              font-size: 60px;
              line-height: 1.1em;
              z-index: 1;
            }
            .subtitle-section {
              display: inline-block;
              position: relative;
              margin: 0;
              color: #fff;
              background-color: darken(#00FF96,15%);
              padding: 3px 10px;
              font-size: 14px;
              font-weight: 200;
              text-align: center;
              z-index: 2;
            }
          }
        }
      }
    }
  }
}

.scrollarea .scrollbar-container {
  opacity: 0;
  &.vertical {
    width: 15px;
  }
}
.scrollarea .scrollbar-container:hover {
  background: transparent;
}

.scroll-container {
  max-height: calc(100vh - 4em);
}

.pad-col {
  margin-bottom: 40px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}
p {
  font-size: 0.9em;
  margin: 0 0 10px;
  font-weight: 400;
  color: #f3f3f3;
  line-height: 1.6em;
}

h3 {
  color: #f3f3f3;
  font-family: 'Oxygen', Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 1.17em;
}

h4 {
  color: #f3f3f3;
  ont-family: Oxygen, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5em;
  margin-top: 0px;
  margin-bottom: 10px;
}